*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* Header */
/* Barra de navegacion */
.barNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.barNav nav, .barNav button{
    display: none;
}
.barNav .logo{
    display: flex;
}
.barNav img{
    width: 30%;
    padding-right: 5px;
}
.barNav p{
    font-weight: 700;
    font-size: 1.5rem;
}
.barNav i{
font-size: 2rem;
}
/* Banner Header */
.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.banner div, .banner article {
    width: 400px;
}
.banner img{
    width: 100%;
}
.banner article {
    text-align: end;
}
.banner h2{
    color: #232C50;
    font-size: 3rem;
    font-weight: 700;
    line-height: 114.6%;
}
.banner p{
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 157.1%;
    margin-top: 20px;
}
.banner button{
    background-color: #8B48BF;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    margin: 30px 0;
    padding: 10px;
    width: 134px;
}
/* Main */
/* Encabezado Main */
.encabezadoMain{
    background-color: #3CDDF3;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}
.encabezadoMain h3{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 114.6%;
    margin-bottom: 50px;
}
.encabezadoMain p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 151.1%;
}
/* Section reporteria */
.reporteria{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 34px;
}
.reporteria h4{
    background-color: rgba(139, 72, 191, 0.30);
    padding: 13px 0;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: -0.01rem;
    text-align: start;
    margin-bottom: 30px;
}
.reporteria span{
    background-color: #8B48BF;
    color: #ffffff;
    border-radius: 25px;
    font-weight: 400;
    padding: 13px 25px;
    margin-right: 30px;
}
.reporteria p{
    color: #B3B2B7;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 30px;
}